html {
    height: 100%;
    display: flex,

}

body{
    height: 100%;
}
.sheet-creator{
    height: 100%;
    display: flex;
    flex-direction: row;
}

#closeBtn {
    top: 5px;
    right: 5px;
    border-radius: 25%;
    color: red;
    background-color: grey;
    position: relative;
    z-index: 2;
}

.widget-list{
    height: 100%;
    width: 30%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    border: solid 2px;
}

.sheet-preview{
    height: 100%;
    width: 70%;
    border:solid;
}

.widget_container
{
    box-shadow: 14px 16px 15px 5px rgba(0,0,0,0.47);
    background-color: white;
    margin-top: 10px;
    border:solid;
    border-radius: 10px;
    width: 90%;
    display: inline-block;
}
.widget-list .widget
{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet-preview
{
    min-height: 100%;
    background-color: white;
}

.name
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
    margin-top:5px;
}

.recherche
{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.recherche input
{
    width: 70%;
}

.recherche button
{
    width: 20%;
}

.information
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.widget{
    overflow: auto;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    
}

.sheet-preview button{
    display: none;
    
}

.hide
{
    position: absolute;
    display:none;
    height: 100%;
    width: 30%;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    border: solid 2px;
    background-color: aqua;

}


nav {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  nav a:hover {
    color: grey;
  }