<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>TableTopInfinity - Génerateur de feuille de personnages</title>
	{% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
	<header>

		<button class="profil"></button>
	</header>

	<nav>
		<a href="">Home</a>
		<a href="">Partie</a>
		<a href="">Générateur</a>
		<a href="">MarketPlace</a>
	</nav>
	<span>
		<div class="carrousel">
			<h1>Fonctionnement du site</h1>
			<h2>Parties</h2>
		</div>
		

	</span>

<footer>
	<a href="">Condition général</a>
	<a href="">Politique de confidentialité</a>
</footer>
</body>
</html>