<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>TableTopInfinity - Génerateur de feuille de personnages</title>
	{% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
	<header>

		<button class="profil"></button>
	</header>

	<nav>
		<a href="">Home</a>
		<a href="">Partie</a>
		<a href="">Générateur</a>
		<a href="">MarketPlace</a>
	</nav>
	<span>

    	<h1 style=" text-align: center">Fonctionnement du site</h1>

<div class="color">

  <section> 
 
	<div style="width: 100%; display: flex; flex-direction:column; text-align: center">


			<h2>Partie</h2>
        <div class="team"> 
            <p> Cette Page vous permettra de demarer une partie, 
            dans reprendre une ou d'en rejoindre une déjà existante une fois<br>
            vos fiches personnages complétées.
            Ainsi vous n'aurrez plus qu'a définir vos rôles avant de partir a l'aventure.
            </p>

        </div>  
        
			<h2>Générateur</h2>
        <div class="team"> 
            <p> Avant de débuter une partie, il va falloir créer sa fiche personnage.
            Pour cela rendez-vous a la page Génerateur, a partir de la vos pourrez utiliser des<br>
            modèles et les modifiers a votre convenance suivant votre jeux et vos règles.<br>
            Il existe un large choix de base qui pourra être complété grâce à la communauté via le MarketPlace.
            </p>

        </div> 

			<h2>MarketPlace</h2>
        <div class="team"> 
            <p> Ici vous pourrez trouver du contenu additionnel, cela peu-être,
            des fiches pré construite ou des éléments pour completer sa fiches personnage.<br>
            Bien sur n'importe qui dont vous pouvez contribuer a l'enrichissement de cette page<br>
            afin que toute la communauté puisse en profiter 
            </p>

        </div>  

	</div>

	    </span>
        </section>
</div>
<footer>
	<a href="">Condition général</a>
	<a href="">Politique de confidentialité</a>
</footer>
</body>
</html>