{% extends 'base.html.twig' %}

{% block title %}New BlankPage{% endblock %}

{% block body %}
    <h1>Create new BlankPage</h1>

    {{ include('blank_page/_form.html.twig') }}

    <a href="{{ path('blank') }}">back to list</a>
{% endblock %}
